.info-container {
  display: flex;
  align-items: flex-start;
  background-color: white;
  margin: 4vh 5vw;
  padding-left: 5%;
  width: 70vw;
  height: 30vh;
  border-radius: 6px;
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075)
  ;
}

.main-info-text {
  width: 60%;
}

.main-info-title {
  margin: 3vh 3vw;
  width: 40%;
  font-size: 20px;
  letter-spacing: 2px;
}

.shower-fact {
  margin: 2vh 3vw;
  width: 90%;
  font-size: 14px;
  font-weight: 400;
}

.main-info-photo {
  height: 100%;
  border-radius: 6px;
}
.main-info-pic {
  height: 100%;
  border-radius: 6px;
}

@media screen and (min-width: 1300px) {
  .main-info-title {
    font-size: 26px;
  }
}

@media screen and (min-width: 600px) and (max-width: 875px) {
  .info-container {
    align-items: center;
    text-align: center;
    height: 25vh;
    width: 90vw;
  }
  .main-info-text {
    width: 100%;
  }

  .main-info-title {
    font-size: 24px;
    width: 85%;
  }

  .shower-fact {
    font-size: 18px;
    width: 85%;
  }

  .main-info-photo {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .info-container {
    align-items: center;
    text-align: center;
    height: 25vh;
    width: 90vw;
    padding-left: 5%;
  }
  .main-info-text {
    width: 100%;
  }

  .main-info-title {
    font-size: 22px;
    width: 80%;
  }

  .shower-fact {
    font-size: 14px;
    width: 80%;
  }

  .main-info-photo {
    display: none;
  }
}